body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
}
header {
    background-color:rgb(22, 156, 209);
    color: white;
    text-align: center;
    padding: 10px 0;
    height : 80px;
    display: flex;
    justify-content:space-around;  
}
nav {
    background-color: #888585;
    text-align: center;
    padding: 10px 0;
    height: 40px;
    font-size: 20px;
    color: #212020;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    background-color: #666;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
  }
  .search-input {
    border: none;
    outline: none;
    height:15px;
  }
  .search-btn {
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
  }

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    margin-left: 4px;
 
}
.search-input{
    height: 40px;
    width:650px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.search-icon{
    margin-top: 9px;
    height: 30px;
}
.search-select{
    height: 44px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.site {
    background-color: #888585;
    width: 700px;
    margin: 10px 0;
    height:80px;
    padding: 10px;
    border-width: 0px;
    border-radius: 20px;
    border-style: solid;
    border-color: #1c1717;
    box-shadow: 2PX 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}
.site img {
    height:80px;
    width: 120px;
    border-radius: 5px;
    object-fit: cover;
}
.site h2 {
    margin-top: 10px;
    color:rgb(13, 13, 13);
    margin-top: 28px;
    margin-left: 5px;
}
.site p {
    color: #666;
}
.site:hover{
    
    box-shadow: 4px 4px 4px black;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    margin-top: 40px;
  }

#indmap{
    margin-top: 121px;
    width:1200px;
    height:600px;
}

.site a{
    text-decoration: none;
}

#categdiv{
    width: 716px;
    height:50px;
    text-align: center;
    border: 2px solid rgb(182, 167, 167);
    border-radius: 20px;
    background-color: #948b8b;

}

#categ{
    margin-top:10px;
}


.footer-container{
    margin-bottom: 0px;
    height:170px;
    display: flex;
    font-size: 15px;
    justify-content: space-around;
    background-color: #335c67;
    color: white;

}
    
#foot1{
    display: inline;
}
#foot2{
    display: inline;
}
#foot2{
    display: inline;
}
#foot4{
    display: inline;
}

.headerclass {
    position: fixed;
    top: 0;
    width: 100%
  }

.navclass {
    position: fixed;
    top: 100px;
    width: 100%
  }

#indiaflag{
    margin-top: 0px;
}

.marqcontainer {
    min-width: 680px;
    margin: 20px auto;
    padding: 0 20px;
    margin-left: 5px;
    background-color: #e4c1f9;
    border-radius: 15px;
 
}
.main{
    display: flex;
}

.marquee {
    width: 673px;
    height: 35px;
    overflow:hidden;
    border: 1px solid #ccc;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marq{
    font-size: 20px;
    color: rgb(11, 44, 208);
    margin-bottom: 5px;
    
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.eventarea img{
    height:80px;
    width:120px;
    margin-top: 15px;
    object-fit: cover;
    border-radius: 5px;

}
.eventarea{
    display:flex

}

.eventtext{
    margin-top: 40px;
    margin-left: 5px;
}

.eventarea p{
    font-size: 20px;
}

.marqhead{
    font-size: 20px;
    
}
.eventarea a{
    text-decoration: #1c1717;
    color: #1c1717;

}

.foot a{
    text-decoration: #1c1717;
    color:white;

}
.foot h3{
    margin-left: 23px;

}
.marq{
    animation: marq 10s linear 0.5s infinite normal;
}
@keyframes marq {
    0%{
        margin-left: 700px;
    }
    100%{
        margin-left: 0px;
    }
}

.dept{
    
    height:200px;
    width: 100%;
    display:flex;
    
    
}

#info{
    height:200px;
    width: 10%;
    background-color: #4ec5c1;
    align-items: center;

}

.tabs{
    height:200px;
    width: 90%;
    display:flex;
    background-color: #7bf1a8;
    display: flex;
    justify-content: space-around;

}

#info img{
    margin-top: 25px;
    height:50px;
    width:80px;  
    margin-left: 30px;
    border-radius: 5px;
}
#info h1{
    font-size: 40px;
    margin-left: 25px;
      
}

.tabbox{
    height:180px;
    width:180px;
    background-color:#8d99ae;
    margin-top: 8px;
    margin-left: 20px;
    border-radius: 10px;
    align-items: center;
   
}

.tabbox:hover{
    box-shadow: 4px 4px 4px #016731;

}

.cardnum{
    text-decoration: solid;
    font-size: 40px;


}

.carddata{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 8px;

}